@import './main';
@import './topbar';
@import './footer';
@import './mediaQuery';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}