.main {
  height: 100vh;
  width: 100vw;
  background-color: #048ABF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}

.main button {
  padding: 5px;
  width: 80px;
  height: 40px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.main button p {
  text-transform: uppercase;
  font-weight: 600;
}

.main button:hover {
  background-color: #048ABF;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #FFFFFF;
}

.main .taskInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-bottom: 15px;
}

.main .taskInput input {
  width: 90%;
  border: 0;
  border-radius: 8px;
  margin-right: 5px;
  height: 40px;
  padding-left: 15px;
}

.task {
  background-color: #FFFFFF;
  width: 90%;
  min-height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.task .taskText {
  width: 93%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.task .taskDelete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7%;
  font-weight: 600;
  cursor: pointer;
}

.task .taskDelete:hover {
  background-color: #048ABF;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  background-color: #023059;
}

.topbar h1 {
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #023059;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer p {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 576px) {
  .task {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .task {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .task {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .task {
    max-width: 800px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */